@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-darkest: #0c1014;
    --color-dark: #1a1e25;
    --color-light-dark: #2c3140;
    --color-lightest-dark: #2c3140;
    --color-lightest-dark: #4f5461;

    --color-lightest: #fafafa;
    --color-light: #edebed;
    --color-dark-light: #a9adb8;
    --color-darkest-light: #8e8d9a;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    margin: 0;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    height: 17px;
    width: 17px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 100rem;
    background: var(--color-light);
    background-clip: content-box;
    border: 5px solid transparent;
}

.dark ::-webkit-scrollbar-thumb {
    border-radius: 100rem;
    background: var(--color-light-dark);
    background-clip: content-box;
    border: 5px solid transparent;
}
